*,
::before,
::after {
	box-sizing: border-box;
}

ul,
li,
ol {
	list-style: none;
}

body {
	padding: 0;
	margin: 0;
}

/* ================================================ */
/* variant-3 Frilsncer */

.block__box-wrap {
}

.block__box-item {
	margin: 0 0 20px 0;
}

.block__box-title {
	text-transform: uppercase;
	letter-spacing: 2px;
	position: relative;
	padding: 0 0 0 30px;
	cursor: pointer;
}
.block__box-title::before,
.block__box-title::after {
	content: '';
	width: 10px;
	height: 1px;
	background-color: #000;
	position: absolute;
	top: 8px;
	transition: all 0.3s ease 0s;
}
.block__box-title::before {
	transform: rotate(40deg);
	left: 0;
}
.block__box-title::after {
	transform: rotate(-40deg);
	left: 8px;
}
.block__box-title::before,
.block__box-title::after {
	background-color: red;
}
.block__box-title.active::before {
	transform: rotate(-40deg);
}
.block__box-title.active::after {
	transform: rotate(40deg);
}

.block__box-text {
	display: none;
	padding: 10px 0 0 0;
}

/* ================================================================ */
/* variant-4 */
.wrapper {
	max-width: 1000px;
	margin: 0 auto;
}
.tabs-wrapper {
	position: relative;
	display: flex;
	flex-wrap: wrap;
}
.input {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
}

.content {
	width: 100%;
	display: none;
	padding: 20px;
	background-color: #eee;
}

.tab {
	text-align: center;
	padding: 10px;
	flex-basis: 50%;
}

#tab-1:checked ~ label[for='tab-1'],
#tab-2:checked ~ label[for='tab-2'] {
	background-color: aquamarine;
}

#tab-1:checked ~ .content-1,
#tab-2:checked ~ .content-2 {
	display: block;
}

/* ================================================ */
/* variant 5 */

.accordion__item {
	margin-bottom: 10px;
	cursor: pointer;
}

.active .accordion__trigger {
	background-color: #ccc;
}
.active .accordion__content {
	display: block;
	background-color: aquamarine;
}

.accordion__trigger {
	padding: 10px;
	border: 1px solid #ccc;
}

.accordion__content {
	margin-top: 10px;
	padding: 20px;
	border: 1px solid #ccc;
	border-top: none;
	display: none;
}
